
h1, h2, h3 {
    font-weight: 400;
    margin-bottom: 0;
}

h1 {
    font-size: 36px;
    border-bottom: 1px grey solid;
    margin-bottom: 8px;
    text-align: center;
}

h3 {
    font-size: 20px;
}

#header {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 32px;        
}

/* #header h1,
#header h3,
#header p{    
    display: block;
    margin: 0 auto;
    text-align: center;
} */

#footer {
    margin-top: 64px;
    text-align: center;    
}

p.about {
    display: inline-block;
    max-width: 50%;
}
